@font-face {
    font-family: nafees_web_naskhshipped;
    src: url(/fonts/nafees_web_naskhshipped.ttf);
  }
#article-content {
    font-family: nafees_web_naskhshipped;
    outline: none !important;
    color: black;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
}
.breadcrumb-section {
  padding: 10px;
}
.breadcrumb-section h2{
  font-size: 30px;
}
section.blog{
  padding-top: 40px;
}
section.blog h2{
  font-size: 25px;
}
section #article-content {
  font-size: 18px;
}
.blog__sidebar {
  display: none;
}